*,
*:before,
*:after {
    box-sizing: border-box;
}

body.no-scroll {
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    font-family: Noto Serif;
    font-size: 15px;
    color: black;
    line-height: 1.5;
    margin: 0;
    background-color:gray;
    min-height: 100vh
    
}

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}


ul, li {
    list-style-type: none;
    color: wheat;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.address {
    margin: 0;
}

/*Header*/

.nav__link {
    position: relative;
    transition: all .2s ease;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    
}

.nav__link:hover {
    color: white;
}

.nav__link:hover::after {
    transform: scaleX(1);
}


.nav__link::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    content: "";
    background-color: wheat;
    bottom: -8px;
    left: 0;
    transform-origin: center;
    transform: scaleX(0);
    transition: all .2s ease;
}


.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100px;
    transition: background-color 0.3s ease;
    z-index: 3000;
}

.header.scroll {
    background-color: rgba(0, 0, 0, 1);
    z-index: 3000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
}

.nav__list li {
    display: inline-block;
    color: white;
    padding-left: 20px;
}

.nav__list li:first-of-type {
    padding-left: 0px;
}

.nav__list li:hover {
    color: antiquewhite;
}

.logo-link {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}


/*Main*/

.main {
    height: 100vh;
    display: block;
    width: 100%;
    position: relative;
    flex: 1;
}


.main::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
    opacity: 0.2;
    background-color: #f69300;
}

.carousel slide {
    width: 100%; 
}


.slider {
    background-size: cover;
    display: block;
    height: 100vh;
    max-width: 100%;
}

.img1 {
    background-image: url(../img/slide_1.jpg);
}


.img2 {
    background-image: url(../img/slide_2.jpg);
    
}

.img3 {
    background-image: url(../img/slide_3.jpg);
}


.main__title {
    display: inline-block;
    /*color: #f69300;*/
    color: white;
    font-size: 70px;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    /*border: 3px solid black;
    border-radius: 25px;*/
    padding: 12px;
    z-index: 1000;
}

.box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/*Section*/

.section {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url(../img/section_backgroung.jpg);
    background-size: cover;
}

.section::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
    opacity: 0.2;
    background-color: #f69300;
}

.section__inner {
    display: flex;
    width: 100%;
    padding-top: 80px
}

.section__slider {
    width: 100%;
    max-width: 750px;
    margin-top: 180px; 
    z-index: 1;
}

.border-radius {
    border-radius: 15px;
    box-shadow: 5px 10px 5px #f69300;
}

.section__article p {
    width: 100%;
    max-width: 400px;
    position: relative;
    margin-top: 180px;
    margin-left: 20px;
    padding: 20px;
    color: #fff;
    text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
    font-size: 20px;
    z-index: 2;
}

.artical-img {
    position: absolute;
    z-index: 1;
    top: 150px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content:space-around;
    /*position: absolute;*/
    width: 100%;
    height: 100px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 1);
    bottom: 0;
    
    z-index: 1000;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.active-footer {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
}

.footer__geo h4 {
    color: #fff;
    text-align: center;
}

.footer__autor {
    color: #fff;
    text-align: center;
    
   
}

.address {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
    align-items: center;
   
}

.address__link {
    width: 30px;
    
}

.main-film {
    width: 100%;
    height: 100vh;
}

/*Film-blok*/

.wrapper {
    display: flex;
    flex-direction: column;
}


.main-film {
    width: 100%;
    min-height: 900px;
    position: relative;
    flex: 1;
    background-image: url(../img/film_background.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.main-film::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease;
    opacity: 0.4;
    background-color: #f69300;
}


.main-film__inner {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
}


.main-film__item {
    width: 150px;
    height: 225px;
    border: 1px solid black;
    margin: 30px 20px;
    position: relative;
    z-index: 10;
    transition: all 0.65s ease;
    box-shadow: 10px 14px 13px black;
}


.film-img {
    width: 150px;
    height: 225px; 
   
}


.main-film__item:hover {
    transform: translateY(-20px);
    
}

